h2{			
	font-size:2em;
}
body{			
	text-align: center;
	background-color: #000000;
	color: #9c1818
}
img{
    width: 600px;
    height: 400px;
}

p{
    font-size: 1.2em;
    font-family: serif;
    text-align: center;
    margin-left: auto;
}

canvas{
	background: #F7D358;
	cursor: none;
}


links{
	color:#0f3bd6;
	font-size:1.3em;
	
}

incompetech{
	color:#0f3bd6;
	font-size:1.3em;
	text-align: left;
}

mystmaze{
	font-size:2em;
}